*, *::before, *::after{
  box-sizing: border-box;
}
.container{
  width: 600px;
  margin: 0 auto;
}
.main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #b3d4d1;
}
.text{
  padding: 32px ;
  width: 40%;
  line-height: 1.5;
  font-size: 20px;
  color: #fff;
  text-align: center;
}
.pic{
  width: 70%;
}