@import '_reset' ; 
@import '_base' ; 
@import '_spaceSize' ; 
@import '_fontSize' ;
@import '_tools' ; 
// 測試好將scss轉成css時自動將css檔案匯到css資料夾。

// body內可以將基本會用到的設定都先設定起來，如"font-size", "font-weight", "line-height"
// 而本次練習將這些屬性設定在html的body tag上。
body{
  // 默認字體是"sans-serif（無襯線字體）"，這是網頁議定可以選染出來的字體，當前面的字體無法用時就會替換成它。
  font-family: 'Noto Sans TC', 'sans-serif';
  color: #020202;
}
.container{
  max-width: 1296px;
  margin: 0 auto;
}
.card{
  width: calc(33.33% - 1rem);
  border: 1px solid #F2F2F2;
  border-radius: 1rem;
  &-img{
    transform-origin: center;
    transition: 0.3s;
  }
  &:hover .card-img{
    transform: scale(1.2);
  }
  &-text{
    font-size: 14px;
    line-height: 21px;
    color: #525252;
  }

}
.list-group-item{
  border-top: #F2F2F2 1px solid;
}
.hashtag{
  cursor: pointer;
  text-decoration: none;
  color: #020202;
}
.share-icon{
  cursor: pointer;
}


// phone to tablet（在577-768px內都適用）
@media screen and (max-width:768px) {
  .card{
    width: calc(50% - 1rem);
  }
}
// phone(在414px以內都適用)=>因為圖片大小對大為414px
@media screen and (max-width:414px) {
  .card{
    width: 100%;
    margin-bottom: 0.75rem;
  }
}