.card{
  display: flex;
  justify-content:space-between;
  width: 1200px;
  margin: 0 auto;
  background-color: #354b3b;
}
.card-item{
  width:380px;
  background-color: #fff;
}
.card-item h2{
  font-size: 80px;
  text-align: center;
  padding: 80px 0;
  background-color: #e7eeea;
  color: #37523d;
}
.card-item h3{
  font-size: 20px;
  font-weight: bold;
  margin: 25px 30px;
  color: #37523d;
}
.card-item p{
  margin: 0px 30px 60px 30px;
  line-height: 1.5;
}