// 尚未設定layout

// col
.col{
 &-1{
  width: 8.3333%;
 } 
 &-2{
  width: 1.666%;
 } 
 &-3{
  width: 25%;
 } 
 &-4{
  width: 33.333%;
 } 
 &-5{
  width: 41.666%;
 } 
 &-6{
  width: 50%;
 } 
 &-7{
  width: 58.333%;
 } 
 &-8{
  width: 66.666%;
 } 
 &-9{
  width: 75%;
 } 
 &-10{
  width: 83.333%;
 } 
 &-11{
  width: 91.666%;
 } 
 &-12{
  width: 100%;
 } 
}
